


<div  class="container utama">
	<div class="row">
	  <div class="col-md-9 box">
            <div class="media">
              <div class="media-left">
                <img src="./img/jaket_new1.jpg"  class="media-object" style="width:300px ;height: 350px; margin-top: 20px;">
              </div>
              <div class="media-body">
                <h3 style=" font-weight: bold; font-size: 25px">Kaos Distro Black Panther Mask OTD1 Kaos Superhero Warna Hitam Cotton Combed</h3><hr>
                <p style="color: #0c7069; font-weight: bold; font-size: 25px">Rp 250.000</p><br>
                <p>Stok Barang : 20</p>
                <div class="btn-group" >
                  <button type="button" class="btn "><span class="fa fa-plus"></span></button>
                  <input type="text" class="btn col-md-3" name="" value="1" readonly>
                  <button type="button" class="btn  form-input"><span class="fa fa-minus"></span></button>
                </div>
                  <hr>
                   <div class="media col-md-12">    
                    <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fa fa-cart-arrow-down"></i> Beli Sekarang</button>
                  <br>
                  </div>   
                  
                  <b>Deskripsi :</b>
                  <p>Kaos Superhero Black Panther Mask adalah kaos dengan kualitas distro. tersedia Warna Hitam.
Bahan Kaos tersedia 2 macam : Cotton Combed 20s dan Cotton Combed 30s
Bahan sama-sama katun, hanya berbeda ketebalan saja.
20s yang lebih tebal. 30s yang lebih tipis.</p>
                
              </div>
            </div>
	</div>
  <div class="col-sm-3">
      <div class="list-group">
          <a class="list-group-item" style="background-color: #0c7069; color: #fff; font-weight: bold;border:none;border-radius: ">Kategori</a>
          <a href="#" class="list-group-item">Baju</a>
          <a href="#" class="list-group-item">Jaket</a>
          <a href="#" class="list-group-item">Celana</a>
          <a href="#" class="list-group-item">Sepatu</a>
      </div>
    </div>
  </div>
</div>
</div>
